/* top */

.top {
    background: center center no-repeat;
    background-color: #1E5B94;
    background-image: url(../../images/hero_bg.png);
    color: #fff;
    text-align: center;
    padding: 35vh 0;
    height: 100vh;
}

.top .am-g {
    padding: 20px 0;
}

.top-title {
    font-size: 200%;
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
}

.top-btn {
    background: #fff;
}


/* slider */

.am-slider-default {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 3rem;
}

.am-nav-next,
.am-nav-prev {
    display: none;
}


/*intro*/

.intro {
    background: #fff no-repeat bottom;
    background-size: contain;
}

.intro-h2 {
    text-align: center;
    font-size: 150%;
    margin: 40px 0;
    color: #34495e;
}

.intro-h3 {
    color: #34495e;
}

.intro-p {
    color: #6e7c8a;
}

.intro-mb {
    margin-bottom: 30px;
    background: hsla(0, 0%, 100%, .8);
}


/*about*/

.about {
    background: #fff;
    padding: 40px 0;
    color: #6e7c8a;
    background: url(../../images/about_bg.jpg) no-repeat left bottom;
    background-size: contain;
}

.about .about-box {
    background: hsla(0, 0%, 100%, .8);
    padding: 15px 0;
}

.about .about-box .am-u-lg-6 {
    padding-bottom: 15px;
}

.about .thanks-btn {
    background: hsla(0, 0%, 100%, .8);
    color: #34495e;
}

.about-color {
    color: #34495e;
}

.about-title {
    font-size: 180%;
    padding: 30px 0 50px 0;
    text-align: center;
}

.about .am-list li p {
    margin: 0;
}

.about .am-list li {
    padding: 0.5rem;
}

.about .detail {
    height: 370px;
    resize: none;
}

.about .update {
    height: 500px;
}

.about .update ul ul {
    margin: 0;
}

.about .update ul ul li {
    font-size: 1.4rem;
    padding: 0 0.5rem;
}

.about .am-list li a {
    display: inline;
}

.about .am-scrollable-vertical {
    padding-right: 20px;
}

.about .am-accordion {
    background: #fff;
}


/*footer*/

.footer p {
    color: #fff;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background: #2d3e50;
}

.footer a {
    color: #fff;
    border-bottom: 1px dotted;
}

.footer .am-selected-text {
    color: #2d3e50;
}

.footer .am-selected-status {
    color: #fff;
}

.footer .am-selected-icon {
    color: #fff;
}

.footer .am-btn-link {
    border-color: #2d3e50;
    background-color: #2d3e50;
}


/*mixitup*/

.mixitup {
    background: #fff;
    padding: 50px 0;
    background: url(../../images/overlay.png), url(../../images/bg.jpg) center center no-repeat;
    background-size: auto, cover;
    padding: 3rem;
}

.mixitup-img {
    text-align: center;
}

.mixitup .am-table {
    margin-bottom: 0;
}

.mixitup button span {
    padding-right: 0.5rem;
}

.mixitup .mix {
    width: 214px;
    margin: 3px 0;
    background: hsla(0, 0%, 100%, .7);
    border: hsla(0, 0%, 100%, .8) solid 1px;
    border-radius: 3px;
    display: inline-block;
}

.mixitup .ship {
    margin: 0.5rem 0 0 0;
    text-align: center;
    font-weight: bold;
}

.mixitup .ship .tier {
    color: hsla(0, 0%, 0%, .6);
    font-size: 14px;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
}

.mixitup #Container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    min-height: 90vh;
    text-align: center;
}

.mixitup .am-selected {
    margin: 5px 0 5px 7px;
    background: hsla(0, 0%, 100%, .3);
}

.mixitup .filter-group {
    text-align: center;
    padding-bottom: 2rem;
}

.mixitup .am-btn-group {
    padding-bottom: 1rem;
}

.am-selected-list {
    max-height: 300px;
    overflow-x: hidden;
}

.am-icon-premium {
    padding: 5px 15px 5px 10px;
}

.am-icon-premium img {
    height: 20px;
}


/*element background*/

.mixitup .img_container {
    margin-top: 0.5rem;
}

.mixitup .icon-cruiser:before {
    content: '';
    display: inline-block;
    height: 11px;
    width: 20px;
    background: url(../../images/icons/cruiser.png) no-repeat;
}

.mixitup .icon-destroyer:before {
    content: '';
    display: inline-block;
    height: 11px;
    width: 20px;
    background: url(../../images/icons/destroyer.png) no-repeat;
}

.mixitup .icon-battleship:before {
    content: '';
    display: inline-block;
    height: 11px;
    width: 20px;
    background: url(../../images/icons/battleship.png) no-repeat;
}

.mixitup .icon-aircarrier:before {
    content: '';
    display: inline-block;
    height: 11px;
    width: 20px;
    background: url(../../images/icons/aircarrier.png) no-repeat;
}

.mixitup .change .addon {
    background: url(../../images/icons/change.png) no-repeat 95% 5%;
}

.mixitup .premium .addon {
    background: url(../../images/icons/premium.png) no-repeat 95% 5%;
}

.mixitup .arp .addon {
    background: url(../../images/icons/arp.png) no-repeat 95% 5%;
}

.mixitup .japan .img_container {
    background: url(../../images/nation/flag_Japan.png) no-repeat top left;
    background-size: contain;
}

.mixitup .usa .img_container {
    background: url(../../images/nation/flag_USA.png) no-repeat top left;
    background-size: contain;
}

.mixitup .ussr .img_container {
    background: url(../../images/nation/flag_Russia.png) no-repeat top left;
    background-size: contain;
}

.mixitup .germany .img_container {
    background: url(../../images/nation/flag_Germany.png) no-repeat top left;
    background-size: contain;
}

.mixitup .uk .img_container {
    background: url(../../images/nation/flag_United_Kingdom.png) no-repeat top left;
    background-size: contain;
}

.mixitup .france .img_container {
    background: url(../../images/nation/flag_France.png) no-repeat top left;
    background-size: contain;
}

.mixitup .pan_asia .img_container {
    background: url(../../images/nation/flag_Pan_Asia.png) no-repeat top left;
    background-size: contain;
}

.mixitup .commonwealth .img_container {
    background: url(../../images/nation/flag_Commonwealth.png) no-repeat top left;
    background-size: contain;
}

.mixitup .italia .img_container {
    background: url(../../images/nation/flag_Italia.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSB705 .img_container {
    background: url(../../images/nation/flag_PJSB705.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSB706 .img_container {
    background: url(../../images/nation/flag_PJSB706.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSB707 .img_container {
    background: url(../../images/nation/flag_PJSB707.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSB708 .img_container {
    background: url(../../images/nation/flag_PJSB708.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSC705 .img_container {
    background: url(../../images/nation/flag_PJSC705.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSC709 .img_container {
    background: url(../../images/nation/flag_PJSC709.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSC737 .img_container {
    background: url(../../images/nation/flag_PJSC737.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSC707 .img_container {
    background: url(../../images/nation/flag_PJSC707.png) no-repeat top left;
    background-size: contain;
}

.mixitup #PJSC708 .img_container {
    background: url(../../images/nation/flag_PJSC708.png) no-repeat top left;
    background-size: contain;
}


/*loading mask*/

.loader_bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../../images/overlay_b.png);
    z-index: 2;
    top: 0;
    left: 0;
    opacity: .7;
}


/* charts */

.charts {
    background: #1E5B94 url(../../images/overlay.png);
    padding: 40px 0;
}

.charts .card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #34495e;
}

.charts .charts-title {
    font-size: 180%;
    padding: 30px 0 50px 0;
    text-align: center;
    color: #ffffff;
}

.charts .text-muted {
    color: #98a6ad !important;
    font-size: 12px;
}

.charts .header-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0;
}

.charts .widget-chart {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.charts #daily {
    width: 100%;
    height: 300px;
}

.charts .am-progress {
    margin-top: 16px;
    margin-bottom: 0;
}