/* 
*variables
*/
/*
* loading mask
*/
.loader_bg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/overlay_b.png);
  z-index: 2;
  top: 0;
  left: 0;
  opacity: .7;
}

/*
* alert
*/
.am-alert {
  position: fixed;
  top: 51px;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 3px;
  text-align: center;
  display: none;
}

/* 
*top
*/
.top {
  background: center center no-repeat;
  background-color: #1E5B94;
  background-image: url(../images/hero_bg.png);
  color: #fff;
  text-align: center;
  padding: 35vh 0;
  height: 100vh;
}
.top .am-g {
  padding: 20px 0;
}
.top .am-g .top-title {
  font-size: 200%;
  border: 2px solid #fff;
  padding: 20px;
  display: inline-block;
}

/*
* intro
*/
.intro {
  background: #fff no-repeat bottom;
  background-size: contain;
}
.intro .intro-h2 {
  text-align: center;
  font-size: 150%;
  margin: 40px 0;
  color: #34495e;
}
.intro .intro-mb {
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.8);
}
.intro .intro-mb .intro-h3 {
  color: #34495e;
}
.intro .intro-mb .intro-p {
  color: #6e7c8a;
}

/*
* mixitup
*/
.mixitup .filter-group {
  text-align: center;
  padding-bottom: 2rem;
}
.mixitup .filter-group .am-btn-group {
  padding-bottom: 1rem;
}
.mixitup .filter-group .am-btn-group button span {
  padding-right: 0.5rem;
}
.mixitup .filter-group .am-btn-group .am-icon-premium {
  padding: 5px 15px 5px 10px;
}
.mixitup .filter-group .am-btn-group .am-icon-premium img {
  height: 20px;
}

.mixitup {
  background: #fff;
  padding: 50px 0;
  background: url(../images/overlay.png), url(../images/bg.jpg) center center no-repeat;
  background-size: auto, cover;
  padding: 3rem;
}
.mixitup #Container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;
  text-align: center;
}
.mixitup #Container .mix {
  width: 214px;
  margin: 3px 0;
  background: rgba(255, 255, 255, 0.7);
  border: rgba(255, 255, 255, 0.8) solid 1px;
  border-radius: 3px;
  display: inline-block;
}
.mixitup #Container .mix .ship {
  margin: 0.5rem 0 0 0;
  text-align: center;
  font-weight: bold;
}
.mixitup #Container .mix .ship .tier {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
}
.mixitup #Container .mix .img_container {
  margin-top: 0.5rem;
}
.mixitup #Container .mix .am-selected {
  margin: 5px 0 5px 7px;
  background: rgba(255, 255, 255, 0.3);
}
.mixitup #Container .mix .am-selected .am-selected-list {
  max-height: 300px;
  overflow-x: hidden;
}

.mixitup .icon-cruiser:before {
  content: '';
  display: inline-block;
  height: 11px;
  width: 20px;
  background: url(../images/icons/cruiser.png) no-repeat;
}

.mixitup .icon-destroyer:before {
  content: '';
  display: inline-block;
  height: 11px;
  width: 20px;
  background: url(../images/icons/destroyer.png) no-repeat;
}

.mixitup .icon-battleship:before {
  content: '';
  display: inline-block;
  height: 11px;
  width: 20px;
  background: url(../images/icons/battleship.png) no-repeat;
}

.mixitup .icon-aircarrier:before {
  content: '';
  display: inline-block;
  height: 11px;
  width: 20px;
  background: url(../images/icons/aircarrier.png) no-repeat;
}

.mixitup .change .addon {
  background: url(../images/icons/change.png) no-repeat 95% 5%;
}

.mixitup .premium .addon {
  background: url(../images/icons/premium.png) no-repeat 95% 5%;
}

.mixitup .arp .addon {
  background: url(../images/icons/arp.png) no-repeat 95% 5%;
}

.mixitup .japan .img_container {
  background: url(../images/nation/flag_japan.png) no-repeat top left;
  background-size: contain;
}

.mixitup .usa .img_container {
  background: url(../images/nation/flag_usa.png) no-repeat top left;
  background-size: contain;
}

.mixitup .ussr .img_container {
  background: url(../images/nation/flag_ussr.png) no-repeat top left;
  background-size: contain;
}

.mixitup .germany .img_container {
  background: url(../images/nation/flag_germany.png) no-repeat top left;
  background-size: contain;
}

.mixitup .uk .img_container {
  background: url(../images/nation/flag_uk.png) no-repeat top left;
  background-size: contain;
}

.mixitup .france .img_container {
  background: url(../images/nation/flag_france.png) no-repeat top left;
  background-size: contain;
}

.mixitup .pan_asia .img_container {
  background: url(../images/nation/flag_pan_asia.png) no-repeat top left;
  background-size: contain;
}

.mixitup .commonwealth .img_container {
  background: url(../images/nation/flag_commonwealth.png) no-repeat top left;
  background-size: contain;
}

.mixitup .italia .img_container {
  background: url(../images/nation/flag_italia.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSB705 .img_container {
  background: url(../images/nation/flag_PJSB705.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSB706 .img_container {
  background: url(../images/nation/flag_PJSB706.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSB707 .img_container {
  background: url(../images/nation/flag_PJSB707.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSB708 .img_container {
  background: url(../images/nation/flag_PJSB708.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSC705 .img_container {
  background: url(../images/nation/flag_PJSC705.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSC709 .img_container {
  background: url(../images/nation/flag_PJSC709.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSC737 .img_container {
  background: url(../images/nation/flag_PJSC737.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSC707 .img_container {
  background: url(../images/nation/flag_PJSC707.png) no-repeat top left;
  background-size: contain;
}

.mixitup #PJSC708 .img_container {
  background: url(../images/nation/flag_PJSC708.png) no-repeat top left;
  background-size: contain;
}

/*
* about
*/
.about {
  background: #fff;
  padding: 40px 0;
  color: #6e7c8a;
  background: url(../images/about_bg.jpg) no-repeat left bottom;
  background-size: contain;
}
.about .about-color {
  color: #34495e;
}
.about .about-title {
  font-size: 180%;
  padding: 0 0 10px 0;
  text-align: center;
}
.about .about-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
}
.about .about-box .am-u-lg-6 {
  padding-bottom: 15px;
}
.about .about-box .am-u-lg-6 .am-list li {
  padding: 0.5rem;
}
.about .about-box .am-u-lg-6 .am-list li p {
  margin: 0;
}
.about .about-box .am-u-lg-6 .am-list li a {
  display: inline;
  padding: 0;
}
.about .about-box .am-u-lg-6 .update {
  height: 500px;
}
.about .about-box .am-u-lg-6 .update ul ul {
  margin: 0;
}
.about .about-box .am-u-lg-6 .update ul ul li {
  font-size: 1.4rem;
  padding: 0 0.5rem;
}
.about .about-box .am-u-lg-6 .am-scrollable-vertical {
  padding-right: 20px;
  min-height: 370px;
}

/* charts */
.charts {
  background: #1E5B94 url(../images/overlay.png);
  padding: 40px 0;
}
.charts .charts-title {
  font-size: 180%;
  padding: 0 0 10px 0;
  text-align: center;
  color: #ffffff;
}
.charts .card-box {
  padding: 20px;
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #34495e;
}
.charts .card-box .text-muted {
  color: #6e7c8a !important;
  font-size: 12px;
}
.charts .card-box .header-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 0;
}
.charts .card-box .am-progress {
  margin-top: 16px;
  margin-bottom: 0;
}
.charts .card-box .widget-chart {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.charts .card-box #daily {
  width: 100%;
  height: 300px;
}

/*
* footer
*/
.footer p {
  color: #fff;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background: #34495e;
}
.footer p a {
  color: #fff;
  border-bottom: 1px dotted;
}
.footer p .icon {
  border: 0;
}
.footer p .am-selected-text {
  color: #34495e;
}
.footer p .am-selected-status {
  color: #fff;
}
.footer p .am-selected-icon {
  color: #fff;
}
.footer p .am-btn-link {
  border-color: #34495e;
  background-color: #34495e;
}

/*# sourceMappingURL=app.css.map */